.mb-loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0 0 0 / 40%);
  height: 100%;
  z-index: 999999999;
  display: grid;
  place-content: center;
}

.mb-loading-container .mb-loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.mb-loading-container .mb-loading div {
  position: absolute;
  top: 33px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #204d99;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.mb-loading-container .mb-loading div:nth-child(1) {
  left: 8px;
  animation: mbs-ellipsis1 0.6s infinite;
}

.mb-loading-container .mb-loading div:nth-child(2) {
  left: 8px;
  animation: mbs-ellipsis2 0.6s infinite;
}

.mb-loading-container .mb-loading div:nth-child(3) {
  left: 32px;
  animation: mbs-ellipsis2 0.6s infinite;
}

.mb-loading-container .mb-loading div:nth-child(4) {
  left: 56px;
  animation: mbs-ellipsis3 0.6s infinite;
}

@keyframes mbs-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes mbs-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes mbs-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}